/* BELOW IS FOR THE MAIN */
@font-face {
	font-family: metallord;
	src: url(../fonts/metallord.otf);
}

*{
    font-family: 'Courier New', Courier, monospace;
}

html{
	background-color: #d32836;
    scroll-behavior: smooth;
}

/*Above is for a header file*/

/* BELOW IF FOR THE MAIN*/

.main{
    background-color:  #302d6a  ;
}

.main-background{
    margin-right:7vw;
    margin-left:7vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../img/wizards.jpg);
}
.videoholder{
    width:50vw; 
    height:20vh; 
    display:flex; 
    margin:auto;
    margin-top:4vh;
    justify-content: center;
    position:relative;
}

.p-title{
    z-index: 2; 
    position:absolute;
    padding-top:4vh;
}
.banner{
    z-index: 1;
    width:50vw;
    object-fit: cover;
    border-radius: 5vw;
    bottom:0;
}
.contentholder{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    height:fit-content;
}

.paragraph{
    font-size:2.5rem;
    background-color: 236, 132, 148;
    justify-content: center;
    color:#4c7c94;
}
.paragraph .p-title{
    color:white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom:2vh;
    font-family: 'Courier New', Courier, monospace;
}
.paragraph .p-text{
    margin-top:5vh;
    margin-left:8vw;
    margin-right:8vw;
    color:white;
    margin-bottom: 5vh;
}
#small-logo{
    font-family:metallord;
}
.downarrowholder{
    width:100%;
    height:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;

}
.downarrowimage{
    pointer-events: auto;
    width:64px;
    height:64px;
    filter: brightness(0) invert(1);

}
#specialproductholder{
    display:flex;
    justify-content: center;
}
#specialtext{
    display:flex;
    justify-content: center;
    scroll-margin-top: 40vh;
    
}
.specialproduct{
    text-decoration: none;
    text-emphasis: none;
    color:white;
    font-family:metallord;
    pointer-events: auto;

}
a{
    text-decoration: none;
    text-emphasis: none;
}
