/* BELOW IS FOR THE MAIN */

.main{
    display:flex;
    background-color:  #302d6a  ;
}
#grain{
    pointer-events: none;
}
.main-background{   

    /*background-image: url(../img/upbackground.jpeg);*/
    margin-right:7vw;
    margin-left:7vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;

    background-size:cover;
    background-image: url(../img/wizards.jpg);
}
.videoholder{
    width:50vw; 
    height:25vh; 
    display:flex; 
    margin:auto;
    margin-top:1vh;
    justify-content: center;
    position:relative;

}

.p-title{
    z-index: 2; 
    position:absolute;
    padding-top:4vh;
}
.banner{
    /*transform:scale(1);*/
    z-index: 1;
    width:100vw;
    object-fit: cover;
    border-radius: 5vw;
    bottom:0;
}
.cardholder{
    display:flex;
    /*margin:50px;*/
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    height:fit-content;
  /*  background-color: rgb(48, 45, 106,0.8)  ;*/
}
.paragraph{
    font-size:2.5rem;
    background-color: 236, 132, 148;
    justify-content: center;
    color:#4c7c94;
}
.paragraph .p-title{
    color:white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom:2vh;
}
.paragraph .p-text{
    margin-top:5vh;
    margin-left:8vw;
    margin-right:8vw;
    color:white;
    margin-bottom: 5vh;
}

/* BELOW IS FOR THE FOOTER */
