/* BELOW IS FOR THE MAIN */

.main{
    display:flex;
    

    background-color:  #302d6a  ;

}
.main-background{   

    /*background-image: url(../img/upbackground.jpeg);*/
    margin-right:7vw;
    margin-left:7vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../img/wizards.jpg);

}

.cardholder{
    display:flex;
    /*margin:50px;*/
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    height:fit-content;
  /*  background-color: rgb(48, 45, 106,0.8)  ;*/
}
iframe{
    margin-top:1vh;
    width:50vw;
    height:60vh;
}
.videoholder{
    justify-content: center;
    display: flex;
}
.paragraph{
    font-size:2.5rem;
    background-color: 236, 132, 148;
    justify-content: center;
    color:#4c7c94;
}
iframe{
    pointer-events: none ;
}
.paragraph .p-title{
    color:white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom:2vh;
}
.paragraph .p-text{
    margin-left:8vw;
    margin-right:8vw;
    color:white;
    margin-bottom: 5vh;
}

/* BELOW IS FOR THE FOOTER */
