/* BELOW IS FOR THE MAIN */

.main{
    display:flex;
    background-color: white;
    margin-right:8vw;
    margin-left:8vw;

}
.main-background{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:contain;
    background-image: url(../img/upbackground.jpeg);
    margin-right:8vw;
    margin-left:8vw;
}

.cardholder{
    display:flex;
    margin:50px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    height:fit-content;
}
iframe{
    margin-top:1vh;
    width:50vw;
    height:60vh;
}
.videoholder{
    justify-content: center;
    display: flex;
}
.paragraph{
    font-size:2.5rem;
    color:white;
    background-color: rgb(128, 128, 128, 0.5);
    justify-content: center;
}
iframe{
    pointer-events: none ;
}
.p-title{
    text-align: center;
    margin-top: 2vh;
    margin-bottom:2vh;
}
.p-text{
    text-shadow: 5rem 5rem 5rem gray;
    margin-left:10vw;
    margin-right:10vw;
}

/* BELOW IS FOR THE FOOTER */

.footer{
    display:flex;
    background-color: darkgray;
    height:10vh;
    align-items: center;
    background-image:url("");
    border-radius: 3vw;
}


