
.userpaneltitle{
    display:flex;
    justify-content: center;
    width:100%;
}

.profilepicture{
    display:flex;
    justify-content: center;
    width:100%;
    margin:50px;
}
.userpanel{
    background: none;
    display:flex;
    margin:50px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}
.userpanelitem{
    justify-content: center;
    margin:1vw;
    padding:1vw;
    width:18vw;
    height:fit-content;
    border:5px solid #302d6a;
    border-radius:5% 0 5% 0;
    background-color: #d32836;
    display:flex;
    min-height: 30vh;
}
.itemborder{
    width:20vw;
    height:30vh;
    border:5px solid #302d6a;
    border-radius:0 5% 0 5%;
    background-color: #302d6a;
    color:white;
    flex-direction: column;

    display:flex;
}

form{
    flex-wrap: wrap;
    width:fit-content;
    display:flex;
    justify-content: center;
    align-items: center;
    margin:auto;
}

.submitbutton{
    margin:5px;
    padding:10px;
    background-color: white;
    justify-content: center;
    display:flex;
    border:black solid 2px;
    font-weight: bold;
    border-radius:10px;
    font-size: 1.2rem;
}
