/* LOGIN PAGE AND REGISTER PAGE */

.username{
	display: flex;
	justify-content: center;
	align-content: center;
}

.inputholder{
    display:flex;
    margin:50px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    text-align: center;
}