*{
	margin:0;
	padding:0;
}

/* BELOW IS FOR THE NAVBAR */

body{
	background-color: gray;
}

.navbar{
	display:flex;
	background-color: darkgray;
	height:10vh;
	align-items: center;
	background-image:url("");
	border-radius: 3vw;
}

.navbar-item{
	display:inline-block;
	vertical-align: middle;
	color:white;
}

#menu-bar ,#logo-big ,#user-welcome{
	margin:auto;
}
.menu-item{
	vertical-align: middle;
	display:inline-block;
	font-size: 0.9vw;
	margin:0.5vw;
}

.menu-item input{
	margin:0;
	min-height: 0.5vw;
	min-width:3vw;
	height:1.5vw;
	width:5vw;
	border-radius: 10px;
	border-color: white;
}
.menu-item a{
	text-decoration: none;
	color:beige;
}

/* Spacing for first and last navbar item */
#logo-small{
	margin-left:1.8vw;
}

#user-icon{
	margin-right:1.8vw;
    
}
/* Navbar image icons scaling*/
#logo-small img{
	max-width: 72px;
	min-width: 32px;
	width:4vw;
}
#user-icon img{
	max-width: 72px;
	min-width: 32px;
	width:4vw;
}

#user-welcome .user-item{
	vertical-align: middle;
	display:inline-block;
	font-size: 1vw;
}

#user-welcome img{
	max-width: 64px;
	min-width: 24px;
	width:2vw;
	margin-left:1vw;
}

/* Scaling PRISMINSPACE logo */
#logo-big{
	font-size: 1.4vw;
	color:darkgray;
	background-color: white;
	text-decoration: none;
}

.removeStyle{
	color:darkgray;
	text-decoration: none;
}
