*{
	margin:0;
	padding:0;
	font-family: 'Courier New', Courier, monospace;
}

/*
https://lospec.com/palette-list/look-of-horror
https://lospec.com/palette-list/caramel-autumn
https://lospec.com/palette-list/candypop

*/
@font-face {
	font-family: metallord;
	src: url(../fonts/metallord.otf);
  }
/* BELOW IS FOR THE NAVBAR */

body{
	background-color: #ffffff;
}

.navbar{
	display:flex;
	background-color: #d32836;
	height:10vh;
	align-items: center;

}

.navbar-item{
	display:flex;
	flex-direction: row;
	color:white;
	align-items: center;
}

#menu-bar ,#logo-big ,#user-welcome{
	margin:auto;
}

.menu-item{
	display:flex;
	font-size: 1vw;
	margin:0.3vw;

}
#menu-bar{
	display:flex;
	justify-content: flex-start;
	margin-left:2vw;
}
.menu-item #searchbar{
	margin:0;
	min-height: 0.5vw;
	min-width:3vw;
	height:1.5vw;
	width:0vw;

}
#searchbar{
	margin-right:3vw;
	width:8vw;
	border-radius: 10px;
	border-color: white;
	border-radius: none;
}
.menu-item a{
	font-family: metallord;
	text-decoration: none;
	color:white;
}

/* Spacing for first and last navbar item */
#logo-small{
	margin-left:1.8vw;
}

#user-icon{
	margin-right:1.8vw;
    
}
/* Navbar image icons scaling*/
#logo-small img{
	max-width: 86px;
	min-width: 32px;
	width:4vw;
}
#user-icon img{
	max-width: 72px;
	min-width: 32px;
	width:4vw;
}

#user-welcome{
	display:flex;
	margin:1vw;
}

#user-welcome .user-item{
	vertical-align: middle;
	display:flex;
	font-size: 1vw;

}
.user-item p{
	align-items: center;
}
#user-welcome img{
	max-width: 64px;
	min-width: 24px;
	width:2vw;
	margin-left:1vw;
}

/* Scaling PRISMINSPACE logo */
#logo-big{
	/* background-color: white; */
	
	position: absolute;
	margin:41vw;
}

#logo-big a{
	font-family:metallord;
	font-size: 1.4vw;
	color:#302d6a;
	text-decoration: none;
}
