*{
	margin:0;
	padding:0;
}

@font-face {
	font-family: metallord;
	src: url(../fonts/metallord.otf);
  }
/* BELOW IS FOR THE NAVBAR */

body{
	background-color: #4c7c94;
}

.navbar{
	display:flex;
	background-color: #ee8695;
	height:10vh;
	align-items: center;
	background-image:url("");
	border-radius: 3vw;
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.navbar-item{
	display:inline-block;
	vertical-align: middle;
	color:white;
}

#menu-bar ,#logo-big ,#user-welcome{
	margin:auto;
}
.menu-item{
	vertical-align: middle;
	display:inline-block;
	font-size: 1vw;
	margin:0.3vw;
}

.menu-item {
	margin:0;
	min-height: 0.5vw;
	min-width:3vw;
	height:1.5vw;
	width:0vw;

}
#searchbar{
	width:5vw;
	border-radius: 10px;
	border-color: white;
}
.menu-item a{
	font-family: metallord;
	text-decoration: none;
	color:white;
}

/* Spacing for first and last navbar item */
#logo-small{
	margin-left:1.8vw;
}

#user-icon{
	margin-right:1.8vw;
    
}
/* Navbar image icons scaling*/
#logo-small img{
	max-width: 86px;
	min-width: 32px;
	width:4vw;
}
#user-icon img{
	max-width: 72px;
	min-width: 32px;
	width:4vw;
}

#user-welcome .user-item{
	vertical-align: middle;
	display:inline-block;
	font-size: 1vw;
}

#user-welcome img{
	max-width: 64px;
	min-width: 24px;
	width:2vw;
	margin-left:1vw;
}

/* Scaling PRISMINSPACE logo */
#logo-big{
	background-color: white;
}

#logo-big a{
	font-family:metallord;
	font-size: 1.4vw;
	color:#4a7a96;
	text-decoration: none;
}
