/* BELOW IS FOR THE MAIN */
@font-face {
	font-family: metallord;
	src: url(../fonts/metallord.otf);
}

*{
    font-family: 'Courier New', Courier, monospace;
}

.main{
    display:flex;
    background-color:  #302d6a  ;
}

.main-background{   
    margin-right:7vw;
    margin-left:7vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../img/wizards.jpg);
}

.cardholder{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    height:fit-content;
}
.paragraph{
    font-size:2.5rem;
    background-color: 236, 132, 148;
    justify-content: center;
    color:#4c7c94;
}
.paragraph .p-title{
    color:white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom:2vh;
    font-family: 'Courier New', Courier, monospace;
}
.paragraph .p-text{
    margin-top:5vh;
    margin-left:8vw;
    margin-right:8vw;
    color:white;
    margin-bottom: 5vh;
}
#small-logo{
    font-family:metallord;
}

.cardholder{
    display:flex;
    margin:50px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}
.card{
    margin:2vw;
    padding:50px;
    width:32vw;
    height:48vh;
    border:5px solid #A9A9A9;
    border-radius:5%;
    background-color: gray;
}
.card-border{
    width:31.5vw;
    height:47.5vh;
    border:5px solid #A9A9A9;
    border-radius:5%;
    background-color: white;
}
.card img{
    width:10vw;
    height:fit-content;
    margin:10px;
}
