/* BELOW IS FOR THE MAIN */
@font-face {
	font-family: metallord;
	src: url(../fonts/metallord.otf);
}

*{
    font-family: 'Courier New', Courier, monospace;
}

.main{
    display:flex;
    background-color:  #302d6a  ;
}

.main-background{   
    margin-right:7vw;
    margin-left:7vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(../img/wizards.jpg);
}

.cardholder{
    display:flex;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
    height:fit-content;
    position:relative;
}
.paragraph{
    font-size:2.5rem;
    background-color: 236, 132, 148;
    justify-content: center;
    color:#4c7c94;
}
.paragraph .p-title{
    color:white;
    text-align: center;
    margin-top: 2vh;
    margin-bottom:2vh;
    font-family: 'Courier New', Courier, monospace;
}
.paragraph .p-text{
    margin-top:5vh;
    margin-left:8vw;
    margin-right:8vw;
    color:white;
    margin-bottom: 5vh;
}
#small-logo{
    font-family:metallord;
}

.cardholder{
    background: none;
    display:flex;
    margin:50px;
    flex-wrap: wrap;
    margin:auto;
    justify-content: center;
}
.card{
    justify-content: center;
    margin:1vw;
    padding:1vw;
    width:18vw;
    height:fit-content;
    border:5px solid #302d6a;
    border-radius:5% 0 5% 0;
    background-color: #d32836;
    display:flex;
}
.card-border{
    width:fit-content;
    height:fit-content;



    border:5px solid #302d6a;
    border-radius:0 5% 0 5%;
    background-color: #302d6a;
    color:white;
    flex-direction: column;

    display:flex;
}
.card img{
    width:10vw;
    height:fit-content;
    margin:10px;
}

.product-details{
    width:18vw;
}
.card-border .useroptions{
    justify-content: space-between;
    display:flex;
    flex-direction: row;
    pointer-events: auto;
    z-index: 3;
}
.card-border .product-image{
    align-items: center;
    margin:auto;
    align-items: center;
}
.card-border .product-details{
    background-color: #302d6a;
    flex-direction: column;
    display:flex;
}
.card-border .product-name{
    display:flex;
    font-size: 1.5rem;
    font-weight: bold;
    justify-content: center;
}
.card-border .product-description{
    font-size: 1.2rem;

}
.card-border .product-size{
    font-size: 1.2rem;

    justify-content: center;
    align-items: center;
    display: flex;
    gap: 0;
    margin:0;
    
}
.product-size .labelitem{
    margin:0.2vw;
}
.card-border .product-price{
    font-size: 1.2rem;
    align-self: center;
}
.card-border .basket-options{
    margin-top: 1vh;
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}


.radioitem{
    display: none;
}

.labelitem {
    opacity: 0.1;
    margin:0;
    width:32px;
    height:32px;
}

.labelitem img{
    width:32px;
    height:fit-content;
    margin:0;
    filter: brightness(0) invert(1);

}
.radioitem:hover + label{
    opacity:0.6;
}
.radioitem:checked + label {
    opacity: 1;
}
.addtobasket button{
    padding:1px;
    font-weight: bold;
    background-color: none;
}

.addtobasket button img{
    width: 48px;
    height: 48px;
}
.addtobasket button{
    border: none;
    background: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
.buynowbutton{
    background-color: white;
    font-size: 1.4rem;
    font-weight: bold;
    border: none;
    padding:1vw;
    border-radius: 25px;
    position: relative;
    z-index: 4;

}
.buynowbutton:hover {
    background-color: black;
    color: white;
}



